/*
Theme Name: Medcare Pharmacy
Author: Proweaver Inc
Author URI: https://proweaver.com/
Description: This theme is just a training
Version: 1.3
*/
a, *:before, *:after {transition:all 0.3s linear;-webkit-transition:all 0.3s linear;box-sizing:border-box;-moz-box-sizing:border-box;}
*{box-sizing:border-box;-moz-box-sizing:border-box;-o-box-sizing:border-box;-webkit-box-sizing:border-box;}
*:before, *:after {position:absolute;}textarea {resize:vertical;}
html, body {background:#FFF; font:400 14px/22px  'Open Sans', sans-serif; height:100%;}
a{text-decoration:none;}
ul li{list-style:none;}

/*Easily center a page's content*/
.container{width:1000px;height:auto;margin:0 auto;}

/**Header Config**/
header{background:#ffffff;height:140px;position:relative;}

  .contactinfo{float:right; height:auto; text-align:right; padding:0;margin:0; padding-top: 20px;line-height: 32px;}
  .contactinfo h4{display:block; font:400 14px 'Open Sans', sans-serif;}
  .contactinfo span { font-weight: bold; font-size: 20px; display: inline-block; color:#82a96c; margin-top: 5px;}




/**Navigation Config**/
  nav#main-nav {padding:0;width:100%;position:relative; background-image: url('images/navbg.png');background-size: cover;background-position: center;z-index: 2;}
  nav#main-nav ul{margin:0;}
  nav#main-nav li{display:inline-block; vertical-align:middle; position:relative; margin:18px 5px; }
  nav#main-nav li:first-child::before{content:url(images/navafter.png); width:34px; height:56px; right:58px; top:0;vertical-align: middle;}
  nav#main-nav li:after{content:url(images/navafter.png); width:34px; height:56px; right:-40px; top:0;vertical-align: middle;}
  nav#main-nav li:last-child:after{;}
  nav#main-nav > ul li:last-child{margin-right:0;}
  nav#main-nav > ul li:first-child{margin-left:0;}
  nav#main-nav li a{font-family: 'Bitter', sans-serif;display:block; width:auto;text-decoration:none; padding:0 20px; color:#fbffdf; font-size: 15px; line-height: 23px;}
  nav#main-nav li:hover, .page-nav li.current{background:#613879; color:#fff;border-radius: 5px}
  .dropdown ul ul li{ margin: 0px !important }
  nav#main-nav span.dropdown-icon { top: -13px; right: 20px; }


/**Drop down icon*/
  nav#main-nav span{position:absolute; right:0; top:0; display:none; padding:5px; cursor:pointer; z-index:9;}
  .dropdown ul ul li a { background: blue; }

/**Banner Config*/
  #banner { margin: 0px auto; position: relative; background: url(images/banner-bg.png) no-repeat center top; padding: 20px 0; z-index: 1;margin-top: -10px;}
  /*.flash { position: relative;  }*/
  .flash2 { display: none; }
  .slogan { background: rgba(0,0,0,0.3); position: absolute; bottom: 30px; width: 100%; padding: 20px; font-size: 30px; z-index: 9999; color: #fff }

#mid { background: #fff; position: relative; text-align: center; padding: 20px 0;}
  .mid-box {display: inline-block; width: 324px; text-align: left;height: 163.9px}
  .mid-box h4 {color: orange; font-size: 20px; }
  .mid-box span { display: block; font-weight: normal; color: #000; margin-top: 0px; font-size: 15px}
  .mid-box p { color: #fff; }
  .mid-box a {font-family: 'Bitter',sans-serif;font-weight: normal;margin-bottom: 27px;z-index:1;position: absolute;bottom: 0;margin-right: 10px;text-align: center;right: 0;background-image: url('images/middle-button.png');height: 38.4px; line-height: 30px; width: 186px;font-size:15px;color: #ffffff; padding-left:7px;}
  /*.mid-box a:hover { background: yellow }*/



/**Sidebar Area Config**/
aside{max-width:320px;}

.services { padding: 10px 10px 10px 24px; border-top-right-radius: 5px;border-top-left-radius: 5px;position: relative;height: 108.3px}
.services p{ color: #fff; }
.services h4 { font-weight: normal;font-size:23px;font-family:'Bitter',sans-serif;color: #ffffff;text-align: left;padding-left: 84px}
.services h4 span { font-size: 28.36px; font-weight: bold; display: block;font-family: 'Open Sans',sans-serif;color: #fbffdf;}

.btns ul { list-style: none; }
.btns ul a { font-weight: bold;font-size: 18px; text-align: left;;display: block; height: 52px; line-height: 50px; background: #ffffff; border-radius: 5px; margin-bottom: 7px; padding-left: 50px; color: #495f3c; font-family: 'Open Sans',sans-serif;border:1px solid #c4ffa3;}
.btns span { text-transform: uppercase; font-weight: bold; font-size: 20px; }
.btns ul a:hover { background: #63397b;color:#fbffdf;border: none}
.btns ul li:nth-child(2){
  line-height: 1px;
}
.btns ul a:hover::before{
  content: url('images/sidebarcontent-hover-before.png');
}
.btns ul a::before{
  content: url('images/sidebarlistafter.png');
  margin-left: -32px;
  margin-top: 5px;
}
/**Main Content Area Config**/
.main { position: relative; }
  .page-content {padding:20px 10px 50px 10px}
  .page-content a{color:#0f4176; font-weight:bold;}
  .page-content a:hover{text-decoration:underline;}
  .page-content ul.bulleted {margin:0 0 25px 0; padding:0 0 0 46px;}
  .page-content ul.bulleted li{line-height:23px; margin-bottom:3px; position: relative; padding:3px;color:#545454;}
  .page-content ul.bulleted li:before{position:absolute; content:url(images/bull.png); left:-21px; top:3px;}
  .page-content p{color:#333333;font-size:14px;line-height:27px;text-align:left; }

  .comingsoon{color:#444141;}
  .comp{color: #ee763e; font-weight: bold;}
  .content-title{margin-bottom:25px;}
  .content-title h1{font-size: 18px;font-weight: normal; color:#4d4d4d;font-family: 'Open Sans',sans-serif;text-align: left;}
  .content-title h1 span{display:block;font-size: 25px;color:#6f7163;font-weight: bold;}

  .imgshadow {border: 4px solid #fff;box-shadow: 0 0 5px;margin: 9px 6px 0 10px;}

  /*Bottom Area*/
  .bottom-boxes { text-align: center; margin: 38px 0px; }
  .bottom-boxes p { color: #fff; }
  .contact-info li a { font-weight: bold; color: #64397c}
  .contact-info li a:hover { color:#96c37d }
  .contact-info li:nth-child(1):before { content: url(images/location.png); left: 0px; top: -3px;}
  .contact-info li:nth-child(2):before { content: url(images/contact.png); left: -30px; top: -3px;}


/**Footer Area Config**/
  footer{background-image:url('images/banner-bg.png'); color:#fff; padding:0}
  .nav-footer ul{margin:1em auto 0; padding:0; text-align:center;}
  .nav-footer ul li{ display:inline-block; vertical-align:top; position: relative;padding:10px 23px}
  .nav-footer ul li:after{ content: url('images/navafter.png'); right: -7px; top:11px; }
  .nav-footer ul li:last-child:after{ content: url('images/navafter.png');}
  .nav-footer ul li:first-child:before{ content: url('images/navafter.png');left: 0;top: 11px;}
  .nav-footer ul li a{display:block; color:#fbffdf;padding: 5px;}
  .nav-footer ul li a:hover,.nav-footer li.current_page_item a{background-color:#613879;border-radius: 5px;}

  .footer-comp{color:#FFF; font-weight:bold;}

  #copyright {margin:0 auto; color:#FFF; text-align:center;line-height: 82px;line-height: 82px;font-size: 15px;font-weight: bold;}
  #copyright a{color: #fff;}
  #copyright a:hover{text-decoration:underline;}

/**Resources**/
  #resources {font-size:14px; margin-top:10px;}#resources a { text-decoration:none; display:block;font-weight:bold;}#resources a:hover {color:#ff0000; text-decoration:none; padding-left:1px;}#resources ul,.resources li {list-style-type:none; margin:0; padding:0;}#resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #ACD7D6; border-bottom:2px solid #95CCCB;}#resources ul li:before{content:"";}#resources ul li span {font-size:11px; color:#666666; letter-spacing:1px;}

/**Search**/
  .search_results div.page, .search_results div.post {padding:20px; margin-bottom:8px; background:#FFFFE1; border-bottom:2px solid #CCC;}.search_results h2 a {text-decoration:none;}.search_results div.entry-meta {font-style:italic;}.search_results a:hover {text-decoration:none;}

/**Dang IE 7**/
.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd;}.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0;}.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto;}.inner-message img{position:relative;left:3em;}.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff;}.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0;}.terms a{color:#fff;font-weight:bold;}.lt-ie8 .protect-me{display:none;}
.nav-toggle-button { display: none; padding: 10px; background: #6f7163; color: #fff; text-align: right; }
.nav-toggle-button:hover { cursor: pointer; }
.nav-toggle-button h3 { padding-top: 5px; }

.col-2 {
  -webkit-column-count: 2;
-moz-column-count: 2;
-o-column-count: 2;
column-count: 2;
}
.logo-wrapper{
  margin-top: 15px;
}
.banner-left{
  max-width: 735px;
  height: 452.4px;
  background-image: url('images/banner-belowbg.png');
  background-repeat: no-repeat;
  position: absolute;
  background-size: cover;
  left: 0;
  z-index: 1;
  width: 100%;
}
.box_skitter_large{
  width: 742px!important;
  background-color: transparent!important;
  padding: 7px;
  /*float: left;*/
}
.banner-right{
  width: 353px;
  height: 452.4px;
  background-image: url('images/banner-rightbg.png');
  background-repeat: no-repeat;
  float: right;
}
.Map{
  height: 60vh;
  width: 100%;
  padding: 30px;
}
 .Map .title{
  color: #82a96c;
  padding: 20px;
}
/*.comingsoon span{padding:20px;}*/
.positioning{
  position: relative;
  width: 100%;
}
.box_skitter .next_button ,.prev_button{
  display: none!important;
}
.banner-button:hover::after{
  content: url('images/banner-after-hover-button.png');
}
.banner-button:hover{
  background-image: url('images/banner-button-hover.png');
}
.banner-button{
  background-image: url('images/banner-button.png');
}
.banner-right-container{
  position: relative;
  width: 100%;
}
.margin-top {
    margin-top: 45px!important;
}
.banner-title h1 {
    color: #ffffff;
    font-family: 'Bitter',sans-serif;
    font-size: 32.37px;
    font-weight: normal;
    line-height: 38px;
}
.banner-title {
  padding-left: 44px;
}
.banner-title span{
  text-align: center;
}
.banner-title span {
    padding-left: 39px;
    font-size: 41.49px;
    color: #fbffdf;
    font-family: 'Open Sans',sans-serif;
}
.flower-border{
  background-image: url('images/banner-title-border.png');
  background-repeat: no-repeat;
  height: 44px;
  width: 100%;
  margin-left: 19px;
  margin-top: 5px;
}
#banner .banner-desc{
  color: #ffffff;
  padding: 5px 10px 0 90px;
  text-align: center;
      line-height: 23px;
}
.banner-button{
  background-image: url(images/banner-button.png);
  float: right;
  height: 72.8px;
  margin-right: 18px;
  width: 323px;
  color: #ffffff;
  font-size: 22px;
  font-family: 'Bitter', sans-serif;
  padding-left: 50px;
  text-align: center;
  padding-top: 17px;
}
.banner-button::after{
  content: url(images/banner-button-after.png);
  margin-top: -5px;
  right: 0;
  margin-right: 26px;
}
.left-mid-box{
  background-image: url('images/mid-background-img.png');
  width: 171.6px;
  height: 159.9px;
  position: absolute;
  left:0;
  z-index: 2;
}
.left-mid-box img{
  padding: 6px;
}
.right-mid-box{
  position: absolute;
  background-image: url('images/mid-right-background-img.png');
  height: 159.9px;
  right: 0;
  width: 174.9px;
}
.mid-box-relative{
  position: relative;
  width: 100%;
}
#mid .title h3{
  font-family: 'Bitter', sans-serif;
  padding-top: 24px;
  padding-left: 31px;
  font-weight: normal;
}
#mid .mid-box:last-child h3{
  padding-top: 10px;
  font-size: 18px;
}
#mid .mid-box:last-child span{
  font-size: 18px;
}
#mid .title span{
  color: #fbffe0;
  font-weight: bold;
  font-family: 'Open Sans',sans-serif;
  font-size: 20.44px;
}
#mid .title{
  color:#fbffe0;
  padding-top: 10px;
}
#mid .right-mid-box a::after{
  content: url('images/middle-button-after.png');
  margin-top: 7px;
  right: 0;
  margin-right: 16px;
}
.mid-box a:hover{
  background-image:url('images/mid-button-hover.png');
  background-repeat: no-repeat;
}
#mid .right-mid-box a:hover::after{
  content: url('images/mid-button-after-hover.png');
}
#featured-product{
  padding-top: 20px;
}
#featured-product .feature-products-title h4{
  color: #6f7163;
  font-family: 'Open Sans',sans-serif;
  font-size: 27.96px;
  padding: 20px 0 25px 0;
}
#feature-products-title .featured-product-list{
  position: relative;
  width: 100%;
  padding: 20px;
  text-align: center;
}
.featured-product-list{
  text-align: center;
}
#featured-product .featured-box{
  width: 184.8px;
  height: 219.2px;
  display: inline-block;
  background-color: #96c37d;
  border-radius: 10px;
  margin:5px;
  text-align: center;
}
#featured-product .featured-box:first-child{
  margin-left: 0;
}
#featured-product .featured-box:last-child{
  margin-right: 0;
}
#featured-product .featured-body{
  background-image: url('images/featured-product-bg.png');
  width:100%;
  height: 206.1px;
  background-repeat: no-repeat;
  background-position: center top;
  padding: 10px;
  margin-top: 7px;
  text-align: center;
}
#featured-product .product-title h5{
  color: #4e7203;
  font-size: 15.73px;
  font-weight: normal;
  padding-bottom: 5px;
}
#featured-product .product-price span{
  font-family: 'Bitter' , sans-serif;
  color: #005f95;
  font-size: 22.37px;
  font-weight: bold;
  padding: 6px;
  display: block;
  text-align: left;
}
#featured-product .product-description p{
  text-align: center;
  float: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 7.96px;
}
#featured-product .product-cart-btns{
  display: inline-block;
}
#featured-product .cart-btn{
  background-color: #683b81;
  height: 29px;
  width: 29px;
  display: inline-block;
  border-radius: 5px;
}
#featured-product .cart-btn span{
  background-image: url(images/featured-cart-after.png);
    height: 20px;
    width: 20px;
    top: 13%;
    left: 15%;
    position: relative;
    display: block;
}
#featured-product .feature-products-title span{
  text-align: right;
}
#featured-product .cart-btn:hover{
  background-color:#6f7163;
}
#featured-product a.cart-details:hover{
  background-color: #6c3e85;
}
#featured-product a.cart-details {
    background-color: #6f7163;
    color: #ffffff;
    height: 29px;
    width: 98.1px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    font-size: 11.19px;
    padding: 14px;
    text-transform: uppercase;
}
#featured-product .cart-details span{
    top: 4px;
    position: absolute;
    left: 0;
    right: 0;
}
aside .services .icon{
      height: 61px;
      width: 73px;
      left: 2;
      top: 0;
      display: block;
      position: relative;
}
aside .services .service-description{
    left: 16px;
    top: 13%;
    position: absolute;
    text-align: center;
    width: 100%;
    line-height: 26px;
}
aside .services .icon img{
    height: 75px;
    width: 65px;
}
.btns ul li {
    padding: 0 15px 0 15px;
}
.page-sidebar{
  width:100%;
  max-width: 320px;
  background-image: url('images/sidebarbackground.png');
  background-repeat: no-repeat;
  margin-top: 20px;
      display: inline-block;
}
.content-paragraph{
  padding-left: 20px;
  max-width: 616px;
  width: 100%;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding-top: 20px
}
.inline{
  display: inline-block;
  width: 158.6px;
  margin-top: 23px;
}
.page-content-list{
  display: inline-block;
  max-width: 433.2px;
  width: 100%;
  vertical-align: top;
}
ul.page-content-list  li{
  padding-left: 40px;
  line-height: 30px;
  font-size: 13px;
}
ul.page-content-list  li:first-child{
  font-weight: bold;
  color: #6f7163;
  padding-left: 0;
  padding-bottom: 10px;
}
ul.page-content-list  li:first-child::before{
  content: none;
}
ul.page-content-list  li::before{
  content: url('images/page-contentlist-after.png');
  margin-left: -35px;
  margin-top: 10px;
}
.other-services{
    background-image: url(images/otherservicesbg.png);
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.col-2-images{
  display: inline-block;
  width: 100%;
  max-width: 597px;
  height: 465.4px;
}
.col-2-images img{
  width: 100%
}
.col-1-desc{
  max-width: 378.7px;
  width: 100%;
  display: inline-block;
}
.other-services .col-1-desc {
vertical-align: top;
}
.other-services .col-1-desc .title{
  border-bottom: 1px solid #96c37d;
}
.other-services .col-1-desc h3{
  font-family: 'Bitter', sans-serif;
  font-size:  33px;
  font-weight: 100;
  line-height: 64px;
}
.other-services .col-1-desc {
padding: 50px 30px 50px 30px;
color: #ffffff;
}
ul.other-services-list  li a:hover{
  color: #96c37d;
  cursor: pointer;
}
ul.other-services-list  li a:hover::before{
  content: url('images/otherserviceslistafter-hover.png')
}
ul.other-services-list  li a{
  padding-left: 30px;
  font-size: 20px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 450;
  line-height: 37px;
  color: #ffffff;
}
ul.other-services-list  li a::before{
  content: url('images/otherserviceslistafter.png');
  margin-left: -29px;
}
.bottom-boxes .box1 h4{
  color: #6f7163;
  font-weight: normal;
  font-size: 20px;
  padding-bottom: 10px;
}
.bottom-boxes .box1 h4 span{
  display: block;
  color: #73428e;
  text-transform: uppercase;
  font-weight: bold;
}
.bottom-list{
  width: 100%;
  max-width: 498px;
}
.contact-info li:first-child{
  padding-left: 55px;
}
.contact-info li{
  white-space: pre-line;
  color: #333333;
  padding-left: 30px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-family: 'Open Sans',sans-serif;
  line-height: 20px;
}
.contact-info li:last-child{
  float: right;
}
.bottom-boxes .box2 h4{
  color: #6f7163;
  font-size: 20px;
  font-weight: normal;
}
.bottom-boxes .box2 form{
  margin-top: 20px;
}
.bottom-boxes .box2 form input[type='text']{
  width:100%;
  height: 40.6px;
  margin:2px 0 2px 0;
  border: 1px solid #e4e4e4;
  padding-left: 20px;
}
.bottom-boxes .box2 form input[type='submit']{
  background-color: #72418e;
  border: none;
  color: #ffffff;
  height: 40.6px;
  width: 150.2px;
  border-radius: 5px;
  font-family: 'Open Sans',sans-serif;
  font-weight: bold;
  z-index: 999999;
  position: absolute;
  right: 0;
  margin-right: 15px;
  bottom: 17px;
}
.bottom-boxes .box2 form textarea{
  width:100%;
  height: 129.5px;
  margin:2px 0 2px 0;
  border: 1px solid #e4e4e4;
  padding-left: 20px;
  padding-top: 13px;
  resize: none;
  z-index: -1;
}
::-webkit-input-placeholder::first-letter {
  color: red;
  text-decoration:underline;
}
.bottom-boxes .box2 form input[type='submit']:hover{
  background-color: #8bb473;
}
div.navfooterbg{
  width: 100%;
  background-image: url('images/footernav.png');
  max-width: 1920px;
  margin: 0 auto;
  background-repeat: no-repeat;
  position: relative;
  height: 52px;
  background-position: bottom center;
  font-family: 'Bitter',sans-serif;
  font-size: 15px;
  background-color: transparent
}
.goog-te-gadget .goog-te-combo {
    margin: 12px 0!important;
    float: right!important;
    margin-left: 11px!important;
    padding: 3px;
    border-radius: 6px;
}
.contact-description{
  float: right;
  margin-top: -11px;
}
.text-align-center{
  text-align: center;
  padding: 0px 20px 0 20px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.content-paragraph p{
  line-height: 35px
}
#banner .slider-desc-title{
  text-transform: uppercase;
  font-family: 'Bitter',sans-serif;
}
.slider-desc h1{color: #fbffdf;}
.slider-desc{text-align: center;color: #ffffff;padding:30px 20px 30px 20px;}
a.banner-button-responsive::after{
  content: url('images/middle-button-after.png');
  margin-left: 5px;
  margin-top: 1px;
}
.banner-button-responsive{
    background-color: #82a96c;
    color: #ffffff;
    font-family: 'Bitter',sans-serif;
    padding: 10px 44px 10px 20px;
    border-radius: 6px; }
.inner-pages{
    height: 100vh;
  }
  iframe#myframe{
    height: 100%;
    padding-top: 10px;
  }
  .comingsoon{
    padding: 30px;
  }
  .comingsoon .title h1{
    color: #82a96c;
    font-style: normal;
  }
.slider-desc{width: 100%;background-color:#6f7163 }
  .bottom-boxes .box1 { width:100%;max-width: 560.5px; display: inline-block; text-align: left; padding: 10px; vertical-align: top; }
    .bottom-boxes .box2 { max-width: 435px; display: inline-block; text-align: left; padding: 10px; vertical-align: top; position: relative;}

ul.step li a{
	font-family: 'Open Sans',sans-serif;
}
aside.page-sidebar{display: none!important}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{float: none;display: inline-block;}
.woocommerce ul.products{text-align: center;}
